.feature-card {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    flex-basis: 10%;
    margin: 10px;
  }
  
  .icon {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .feature-title {
    font-size: 22px;
    color: #141414;
    margin-bottom: 10px;
  }
  
  .feature-description {
    font-size: 16px;
    color: #666;
  }
  