@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, html, .App {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
}


.sidebar {
  background-color: #CB1F31;
  color: white;
  width: 220px;
  padding: 20px;
  height: 100vh;
  position: fixed;
}

.sidebar-logo {
  display: block;
  width: 100%;
  margin: 0 auto 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

.sidebar .dropdown {
  position: relative;
  display: block;
}

.sidebar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sidebar .dropdown:hover .dropdown-content {
  display: block;
}

.sidebar .auth-button {
  background-color: #FFC533;
  color: #1e1e1e;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.sidebar .auth-button:hover {
  background-color: #e6b700;
}

.main-content {
  background-color: #F2F2F2;
  padding: 20px;
  width: calc(100% - 220px);
  min-height: 100vh;
  margin-left: 220px;
  box-sizing: border-box;
}

.login-container {
  background-color: #FFFFFF;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 400px;
  margin: 100px auto;
  text-align: center;
}

.login-button {
  background-color: #CB1F31;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.login-button:hover {
  background-color: #a51927;
}
